<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :snippet %><br>
    <%= f.text_area :snippet, :class => "tinymce", :rows => 10, :cols => 30 %>
    <%= tinymce :forced_root_block => '' %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label "Listenable?" %><br>
    <%= f.check_box :listen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>