<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interview.title %>
</p>

<p>
  <strong>Snippet:</strong>
  <%= @interview.snippet %>
</p>

<p>
  <strong>Link:</strong>
  <%= @interview.link %>
</p>

<p>
  <strong>Listen:</strong>
  <%= @interview.listen %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
