<% @books.each_with_index do |book, index| %>
  <main class="body--main">
      <section class="home--top">
          <div class="column">
              <header class="column--header">
                  <h2><em><%= book.title %></em></h2>
                  <%= link_to 'edit this book', edit_book_path(book) %>
              </header>
              <section class="column--text">
                  <div class="book--summary">
                      <div class="book">
                          <a href="<%= book.link %>" target="_blank">
                          <img src="<%= book.image %>" alt="<%= book.title %>"/>
                        </a>
                          <a href="<%= book.link %>" target="_blank">
                            <div class="book-order">
                                order now
                            </div>
                          </a>
                      </div>
                      <div class="summary">
                          <%= simple_format(book.summary) %>
                      </div>
                  </div>
              </section>
          </div>
          <div class="column">
              <div class="books--top column--text">
                <h2>PRAISE</h2>
                <% book.praises.each do |praise| %>
                
                <p><%= praise.quotation %><br/>
                <span>– <%= praise.source %></span></p>
                <% end %>
              </div>
          </div>
      </section>
  </main>

  <% if index.even? == true %> 
      <div class="diagonal">
      </div>
  <% else %>
      <nav>
      </nav>
  <% end %>
  
<% end %>