<% @books.each_with_index do |book, index| %>
  <main class="body--main">
      <section class="home--top">
          <div class="column">
              <a name="<%= book.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>"></a>
              <header class="column--header">
                  <h2><em><%= book.title %></em></h2>
                  <% if current_user %>
                  <%= link_to 'edit this book', edit_book_path(book) %>
                  <% end %>
              </header>
              <section class="column--text">
                  <div class="book--summary">
                      <div class="book">
                          <a href="<%= book.link %>" target="_blank">
                          <img src="<%= book.image %>" alt="<%= book.title %>"/>
                        </a>
                          <a href="<%= book.link %>" target="_blank">
                            <div class="book-order">
                                order now
                            </div>
                          </a>
                      </div>
                      <% if book.summary.present? %>
                      <div class="summary">
                          <%= book.summary.html_safe %>
                      </div>
                      <% end %>
                  </div>
              </section>
          </div>
          <div class="column">
              <div class="books--top column--text">
                <h2>PRAISE</h2>
                <% @praises = book.praises.order('created_at ASC')%>
                <% @praises.each do |praise| %>
                <p><%= praise.quotation.html_safe %><br/>
                <span>–<%= praise.source.html_safe %></span></p>
                <% end %>
              </div>
          </div>
      </section>
  </main>

  <% if index.even? == true %> 
      <div class="diagonal books--diagonal">
      </div>
  <% else %>
      <nav class="books--nav">
      </nav>
  <% end %>
  
<% end %>