<% @books.each_with_index do |book, index| %>
  <main class="body--main">
      <section class="home--top">
          <div class="column">
              <header class="column--header">
                  <h2><em><%= book.title %></em></h2>
                  <%= link_to 'edit this book', edit_book_path(book) %>
              </header>
              <section class="column--text">
                  <div class="book--summary">
                      <div class="book">
                          <a href="<%= book.link %>" target="_blank">
                          <img src="<%= book.image %>" alt="<%= book.title %>"/>
                        </a>
                          <a href="<%= book.link %>" target="_blank">
                            <div class="book-order">
                                order now
                            </div>
                          </a>
                      </div>
                      <div class="summary">
                          <%= simple_format(book.summary) %>
                      </div>
                  </div>
              </section>
          </div>
          <div class="column">
              <div class="books--top column--text">
                <h2>PRAISE</h2>
                <% book.praises.each do |praise| %>
                
                <p><%= praise.quotation %><br/>
                <span>– <%= praise.source %></span></p>
                <% end %>
              </div>
          </div>
      </section>
  </main>

  <% if index.even? == true %> 
      <div class="diagonal">
      </div>
  <% else %>
      <nav>
      </nav>
  <% end %>
  
<% end %>

<main class="body--main--show">
        <section class="home--top">
            <div class="column">
                <header class="column--header">
                    <h2><em>SHOW UP, LOOK GOOD</em></h2>
                </header>
                <section class="column--text">
                    <div class="book--summary">
                        <div class="book">
                            <a href="http://www.amazon.com/Show-Look-Good-Mark-Wisniewski/dp/192858960X/ref=sr_1_1?ie=UTF8&qid=1318813539&sr=8-1" target="_blank">
                            <img src="img/show-up-look-good-book.jpg" alt="Show Up, Look Good"/>
                          </a>
                            <a href="http://www.amazon.com/Show-Look-Good-Mark-Wisniewski/dp/192858960X/ref=sr_1_1?ie=UTF8&qid=1318813539&sr=8-1" target="_blank">
                              <div class="book-order">
                                  order now
                              </div>
                            </a>
                        </div>
                        <div class="summary">
                            <p>With equal parts rue and satire, Mark Wisniewski’s thirty-four-year-old Midwestern heroine, Michelle, flees love gone wrong at home to start over with nerve and independence in Manhattan. Her picaresque misadventures and her encounters with characters odd, pretentious, and menacing prove as haunting as Holden Caulfield’s.</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column">
                <div class="books--top column--text">
                  <h2>PRAISE</h2>
                  <p>“A rollicking, laugh-out-loud romp of a novel.”<br/>
                  <span>–Ben Fountain</span></p>

                  <p>“A riotously original voice.”<br/>
                  <span>–Jonathan Lethem</span></p>

                  <p>“Wit and insight.”<br/>
                  <span>–Molly Giles</span></p>

                  <p>“Funny, dark, poignant, and unsettling.”<br/>
                  <span>–Katherine Center</span></p>
                </div>
            </div>
        </section>
    </main>

<nav>
</nav>

<main class="body--main--show">
        <section class="home--top">
            <div class="column">
                <header class="column--header">
                    <h2><em>CONFESSIONS OF A POLISH USED CAR SALESMAN</em></h2>
                </header>
                <section class="column--text">
                    <div class="book--summary">
                        <div class="book">
                            <a href="http://www.amazon.com/Confessions-Polish-Used-Car-Salesman/dp/1576500691/ref=sr_1_2?ie=UTF8&s=books&qid=1281907197&sr=8-2" target="_blank">
                            <img src="img/confessions-of-a-polish-used-car-salesman.jpg" alt="Confessions of a Polish Used Car Salesman"/>
                          </a>
                            <a href="http://www.amazon.com/Confessions-Polish-Used-Car-Salesman/dp/1576500691/ref=sr_1_2?ie=UTF8&s=books&qid=1281907197&sr=8-2" target="_blank">
                              <div class="book-order">
                                  order now
                              </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column">
                <div class="books--top column--text">
                  <h2>PRAISE</h2>
                  <p>“A spectacular talent.”<br/>
                  <span>–C. Michael Curtis, <em>The Atlantic Monthly</em></span></p>

                  <p>“A great summer read.”<br/>
                  <span>–<em>Chicago Tribune</em></span></p>

                  <p>“Like a Mark Twain yarn.”<br/>
                  <span>—<em>Los Angeles Times</em></span></p>

                  <p>“Funny, literary, ethnic and quirky.”<br/>
                  <span>–<em>Milwaukee Journal Sentinel</em></span></p>
                </div>
            </div>
        </section>
    </main>

<div class="diagonal">
</div>

<main class="body--main--show">
        <section class="home--top">
            <div class="column">
                <header class="column--header">
                    <h2><em>ALL WEEKEND WITH THE LIGHTS ON</em></h2>
                </header>
                <section class="column--text">
                    <div class="book--summary">
                        <div class="book">
                            <a href="http://www.amazon.com/All-Weekend-Lights-Stories-Leaping/dp/1587750023/ref=sr_1_1?ie=UTF8&s=books&qid=1281907197&sr=8-1" target="_blank">
                            <img src="img/all-weekend-with-the-lights-on.jpg" alt="All Weekend with the Lights On"/>
                          </a>
                            <a href="http://www.amazon.com/All-Weekend-Lights-Stories-Leaping/dp/1587750023/ref=sr_1_1?ie=UTF8&s=books&qid=1281907197&sr=8-1" target="_blank">
                              <div class="book-order">
                                  order now
                              </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="column">
                <div class="books--top column--text">
                  <h2>PRAISE</h2>
                  <p>“Wisniewski shows a shrewd hand with sparkling dialogue.”<br/>
                  <span>–<em>Publishers Weekly</em></span></p>

                  <p>“I’m a fan of Mark W. for life.”<br/>
                  <span>–Marie Hayes, <em>StoryQuarterly</em></span></p>

                  <p>“A touch that constitutes a kind of grace.”<br/>
                  <span>–Gordon Weaver</span></p>
                  
                  <p>“I enjoyed the collection immensely. One helluva fine writer.”<br/>
                  <span>–Gerald Locklin</span></p>
                </div>
            </div>
        </section>
    </main>

<nav>
</nav>

<% if user_signed_in? %>
<%= link_to 'New Book', new_book_path %>
<% end %>