<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @praise.book_id %>
</p>

<p>
  <strong>Quotation:</strong>
  <%= @praise.quotation %>
</p>

<p>
  <strong>Source:</strong>
  <%= @praise.source %>
</p>

<%= link_to 'Edit', edit_praise_path(@praise) %> |
<%= link_to 'Back', praises_path %>
