<!DOCTYPE html>
<html>
<head>
  <!-- METADATA -->
  <title>Mark Wisniewski</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Project Description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Mark Wisniewski"/>
  <meta property="og:description" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman."/>
  <meta property="og:url" content="http://www.markwisniewski.net"/>
  <!-- <meta property="og:image" content="http://www.markwisniewski.net"/> -->
  <meta property='og:site_name' content="Mark Wisniewski"/>
  <meta name="twitter:card" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman.">
  <meta name="twitter:creator" content="@MWwriter">
  <meta name="twitter:title" content="Mark Wisniewski">
  <meta name="twitter:description" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman.">
  <!-- <meta name="twitter:image" content="http://www.markwisniewski.net"> -->
  
  <!-- ICONS -->
  <!-- <link href="img/favicon.ico" rel="shortcut icon">
  <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon.png"         rel="apple-touch-icon" />
  <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-76x76.png"   rel="apple-touch-icon" sizes="76x76" />
  <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
  <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /> -->
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  
</head>
<body id="skrollr-body">
    <div class="darken">
    </div>
    <% if user_signed_in? %>
        <div class="logged-in">
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </div>
        <div class="admin-links">
            <%= link_to('New Event', new_event_path) %> |
            <%= link_to('New Interview', new_interview_path) %> |
            <%= link_to('New Book', new_book_path) %>
        </div>
    <% end %>
    <div class="contact">
        <div id="x--icon">
            <%= image_tag("x-icon_2x.png", :alt => "close") %>
        </div>
        Mark loves to hear from his readers.<br/><br/>
  
        Email him at <a href="mailto:markwisniewski.writer@gmail.com">markwisniewski.writer@gmail.com</a><br/><br/>
  
        <hr>
  
        Mark is represented by Noah Ballard of Curtis Brown, Ltd.:<br/><br/>

        Reach Noah at <a href="mailto:nb@cbltd.com">nb@cbltd.com</a><br/><br/>
  
        <hr>

        For film inquiries, please contact Jason Richman of UTA:<br/><br/> <a href="mailto:richmanj@unitedtalent.com">richmanj@unitedtalent.com</a><br/><br/>

        <hr>
        
        For translation rights, please contact Jonathan Lyons of Curtis Brown, Ltd.:<br/><br/> <a href="mailto:jl@cbltd.com">jl@cbltd.com</a>
    </div>
    <div class="wrapper">
        <section class="header">
            <header class="body--header">
                <section class="header--top">
                    <a href="/">
                        <h1 class="header--title">
                            MARK WISNIEWSKI
                        </h1>
                    </a>
                    <section class="header--social">
                        <ul>
                          <li>
                              <a target="_blank" href="https://www.facebook.com/mark.wisniewski.7">
                                  <%= image_tag("facebook.png", :alt => "Facebook") %>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" href="https://twitter.com/MWwriter">
                                  <%= image_tag("twitter.png", :alt => "Twitter") %>
                              </a>
                          </li>
                          <li>
                              <a target="_blank" href="http://www.markwisniewski.blogspot.com/">
                                  <%= image_tag("blogger.png", :alt => "Blog") %>
                              </a>
                          </li>
                        </ul>
                    </section>
                </section>
                <section class="header--novel">
                    <a href="http://www.penguin.com/book/watch-me-go-by-mark-wisniewski/9780399172120" target="_blank">breakout novel, <em>WATCH ME GO</em>, due out January 22, 2015</a>
                </section>
            </header>
    
          <div id="mobile-menu">
              <% if current_page?('/') %>
              <div id="mobile-current">HOME</div>
              <% end %>
              <% if current_page?('/books') %>
              <div id="mobile-current">BOOKS</div>
              <% end %>
              <% if current_page?('/events') %>
              <div id="mobile-current">EVENTS</div>
              <% end %>
              <% if current_page?('/bio') %>
              <div id="mobile-current">BIO</div>
              <% end %>
              <% if current_page?('/contact') %>
              <div id="mobile-current">CONTACT</div>
              <% end %>
              <% if current_page?('/interviews') %>
              <div id="mobile-current">INTERVIEWS</div>
              <% end %>
              <div id="mobile-button">
                  <%= image_tag("menu.png", :alt => "Menu") %>
              </div>
          </div>
    
          <nav class="mobile-nav">
              <ul>
                  <% if current_page?('/') %>
                  <li class="mobile-hidden"><a class="current" href="/">HOME</a><span>|</span></li>
                  <% else %>
                  <li><a href="/">HOME</a><span>|</span></li>
                  <% end %>
                  <% if current_page?('/books') %>
                  <li class="mobile-hidden"><a class="current" href="/books">BOOKS</a><span>|</span></li>
                  <% else %>
                  <li><a href="/books">BOOKS</a><span>|</span></li>
                  <% end %>
                  <% if current_page?('/events') %>
                  <li class="mobile-hidden"><a class="current" href="/events">EVENTS</a><span>|</span></li>
                  <% else %>
                  <li><a href="/events">EVENTS</a><span>|</span></li>
                  <% end %>
                  <% if current_page?('/bio') %>
                  <li class="mobile-hidden"><a class="current" href="/bio">BIO</a><span>|</span></li>
                  <% else %>
                  <li><a href="/bio">BIO</a><span>|</span></li>
                  <% end %>
                  <li id="contact"><a>CONTACT</a><span>|</span></li>
                  <% if current_page?('/interviews') %>
                  <li class="mobile-hidden"><a class="current" href="/interviews">INTERVIEWS</a></li>
                  <% else %>
                  <li><a href="/interviews">INTERVIEWS</a></li>
                  <% end %>
              </ul>
          </nav>
      </section>
      
<%= yield %>
      
    </div>
<!-- google analytics -->
<!-- end google analytics -->
<script type="text/javascript">
    if(Modernizr.mq('(min-width: 584px)')) {
        skrollr.init({
        		forceHeight: false
        });
    }
</script>
</body>
</html>